input {
    font-size: 1rem;
    border-radius: 0px;
    border-width: 0px 0px 1px 0px;
    font-family: "Roboto", sans-serif;
    padding: 10px 5px;
    width: 95%;
  }:focus{
      outline: none;
  }

.form_group {
  display: flex;
  padding: 16px 16px;
  justify-content: center;
}

.form_padding{
    padding: 16px 16px;
}
