@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  display: block;
}

.row {
  display: flex;
  margin: 5px;
  justify-content: space-around;
  align-items: center;
}

.icon_area a {
  padding: 0px 5px;
}

.log_area a {
  margin: 0px 10px;
}

@media only screen and (max-width: 600px) {
  .log_area {
    display: none;
  }
}

@media only screen and (min-width: 599px) {
  .mailLogo {
    display: none;
  }
  .wpLogo {
    display: none;
  }
}
