@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.cards__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
}

.card {
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    max-width: 90%;
    margin: 5px auto;
}

.card__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1rem;
}

.card__image {
    background-image: url("D:\Programming\Projects\dulcereact\src\components\post\img\peceto con croute de queso y hierbas.jpg");
    background-position: center center;
    background-size: cover;
    border-radius: 30px;
    -webkit-filter: contrast(70%);
    filter: contrast(70%);
    overflow: hidden;
    position: relative;
    height: 367px;
}

.card__image::before {
    content: "";
    display: block;
    padding-top: 56.25%;
}

.card__title h4{
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    color: #232d37;
    line-height: 1.25;
    font-size: 1.5rem;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.card__text {
    font-size: 12px;
    color: #b5aec4;
    font-weight: 500;
}