@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
}

a {
  text-decoration: none;
  color: #000;
}

/* .container {
  max-width: 80%;
  margin: 0 auto;
}

.row {
  display: flex;
  margin: 5px;
  justify-content: space-around;
  align-items: center;
}

.btn_menu {
  background-color: #fc6c3f;
  width: 100%;
  color: #fff;
  margin-bottom: 30px;
  padding: .25rem .75rem;
  font-size: 1.25rem;
  border: 1px solid transparent;
  border-radius: .25rem;
} */
